{% spaceless %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        {%- include 'SymfonianIndonesiaAdminBundle:Layout:header.html.twig'
        with {
            page_title: block('page_title'),
            css: block('css'),
            use_date_picker: block('date_picker'),
            use_editor: block('editor'),
            use_autocomplete: block('autocomplete')
        }
        -%}
    </head>
    <body class="skin-green sidebar-mini">
        <div class="wrapper">
            {%- include 'SymfonianIndonesiaAdminBundle:Layout:body_header.html.twig'
            with {
                logo: block('logo'),
                widget: block('widget'),
                user_panel: block('user_panel')
            }
            -%}

            {%- include 'SymfonianIndonesiaAdminBundle:Layout:menu.html.twig' with { menu: knp_menu_render(menu, { currentClass: 'active', 'allow_safe_labels': true }) } -%}

            {%- include 'SymfonianIndonesiaAdminBundle:Layout:content.html.twig'
            with {
                breadcrumb: block('breadcrumb'),
                content: block('content'),
                page_title: block('page_title'),
                page_description: block('page_description'),
                use_date_picker: block('date_picker'),
                date_picker_format: block('date_picker_format'),
                use_file_style: block('file_style'),
                use_editor: block('editor'),
                use_numeric: block('numeric')
            }
            -%}

            {%- include 'SymfonianIndonesiaAdminBundle:Layout:footer.html.twig'
            with {
                javascript: block('javascript'),
                use_date_picker: block('date_picker'),
                use_file_style: block('file_style'),
                use_editor: block('editor'),
                use_autocomplete: block('autocomplete'),
                use_numeric: block('numeric')
            }
            -%}
        </div>
    </body>
</html>
{% endspaceless %}
