<footer class="main-footer">
    <strong>Copyright &copy; 2015 {{ title }}.</strong> All rights reserved.
</footer>

{%- javascripts
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/jquery-2.1.3.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/bootstrap.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/fastclick.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/jquery.slimscroll.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/plugins/bootstrap-filestyle/bootstrap-filestyle.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.id.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/app.min.js'

    filter='uglifyjs2'
-%}
    <script src="{{- asset_url -}}" type="text/javascript"></script>
{%- endjavascripts -%}

{%- if javascript is not empty -%}
    {{- javascript | raw -}}
{%- endif -%}

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->
