{%- javascripts
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/jquery-2.1.4.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/bootstrap.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/plugins/iCheck/icheck.min.js'
    '@SymfonianIndonesiaAdminBundle/Resources/public/js/app.min.js'

    filter='uglifyjs2'
-%}
    <script src="{{- asset_url -}}"></script>
{%- endjavascripts -%}

{%- if javascript is not empty -%}
    {{- javascript | raw -}}
{%- endif -%}

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->
