.padding-bottom-7 {
    padding-bottom: 7px !important;
}

.padding-top-7 {
    padding-top: 7px !important;
}

.padding-5 {
    padding: 5px !important;
}

.margin-left-7 {
    margin-left: 7px !important;
}

.margin-bottom-7 {
    margin-bottom: 7px !important;
}

label.required:after {
    content: '*';
    padding-left: 3px;
    color: red;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}